.App {
  background-color: #f8f9fa;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Content {
    overflow: hidden;

    max-width: 90vw;
    width: 400px;

    display: flex;
    flex-direction: column;

    gap: 32px;

    .top {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1,
      p {
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 30px;
        line-height: 120%;
        color: #212529;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 150%;
        color: #343a40;
      }
    }
  }

  form {
    font-family: "Montserrat", sans-serif;

    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 32px;

    .group {
      border-radius: 8px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-weight: 400;

      padding: 16px 0;
    }

    input {
      box-sizing: border-box;
      background-color: transparent;
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
    input:focus {
      outline: none;
      border-bottom: 1px solid #8338ec;
    }
  }

  .finalnote {
    // border: 2px solid #8338ec;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    color: #495057;
    border-radius: 8px;

    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 150%;

    div {
      // padding: 4px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div:nth-child(1) {
      width: 75%;

      align-items: flex-start;

      p {
        margin: 0;
        width: 90%;
      }
    }
    div:nth-child(2) {
      width: 25%;

      font-weight: 500;
      color: #f8f9fa;

      font-size: 22px;

      border-radius: 8px;

      &.good {
        background-color: #06d6a0;
      }
      &.ok {
        background-color: #e9c46a;
      }
      &.bad {
        background-color: #e63946;
      }
    }
  }
}
